@charset "UTF-8"; 

span.githubpages {  
color: #FF0000; 
font-weight: bold; 
}



html{
	font-size: 70%;
}
html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
body{
	font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.header{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;                   
    padding: 1rem 0;                
    background-color: #00afcc;
    font-family: "Didot", serif;
    color: ghostwhite;
}
.header h1 {
    font-size: 5rem;                 
    margin-top: 4rem;             
    margin-bottom: 0;            
}
.nav ul {
  font-size: 2.3rem;
  list-style: none;
  margin: 1rem;
  padding: 0;
  display: flex;          
  justify-content: center;
  gap: 3rem;             
}
.nav ul a {
  color: white;
}


/*プロフィール*/
#profile{
    background-color: #ffedab;
    color: #4e454a;
    padding: 2rem 1rem 3rem 1rem;
}
#profile h2{
    font-size: 4rem;        
    padding-top: 1.5rem;    
    margin-bottom: 1.5rem;    
    font-family: "Didot", serif; 
    text-align: center;
}           
.profile-content {
    display: flex; 
    align-items: flex-start;
    justify-content: center; 
    width: 90%; 
    margin: 0 auto; 
} 
#profile .image {
    margin-right: 2rem; 
}
#profile .image img {
    width: 270px; 
    height: auto;
    border-radius: 10%;
}
#profile .profile-text {
    max-width: 850px;
}
#profile .name {
	font-family: "Didot", serif;
    font-size: 20px;
    margin-bottom: 1rem;
}
#profile .aboutme {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 2rem;
}
			 
/*スキル*/
#skills {
  background-color: #a1d8e2;
  color: #4e454a;
  padding: 2rem 0;
}

#skills h2 {
  font-size: 3.5rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Didot", serif;
  text-align: center;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.skills-left,
.skills-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 600px;
}

.image-pc img,
.image-note img {
  width: 350px;
  height: auto;
  border-radius: 10%;
  margin-bottom: 1.5rem;
}

.skill-languege {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  font-size: 1.1rem;
  width: 100%;
  max-width: 700px;
}

.skill-item {
  border-radius: 10px;
}
.skill-item h3 {
	font-family: "Didot", serif;
}

.notes {
  font-size: 1.1rem;
  text-align: left;
  max-width: 620px;
  padding: 0 1rem;
}

.notes a {
  color: #333;
  text-decoration: underline;
}

.notes ul {
  margin-top: 1rem;
  padding-left: 1.2rem;
}

/*コンタクト*/
#contact{
	background-color: #00afcc;
	color:ghostwhite;
	margin:auto;
	padding: 2rem 0;
	text-align: center;
	font-size: 20px;
}
#contact h2{
	font-family: "Didot", serif;
	font-size: 3.5rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; 
  margin-top: 2rem;
}
.contact-form .form-group{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%; 
}
.contact-form label {
  font-size: 1.5rem;
  width: 120px; 
  font-weight: bold;
  text-align: left;
}
.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  max-width: 700px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

.contact-form input[type="submit"] {
  width: 30%;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #00afcc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 300px;
}

.contact-form input[type="submit"]:hover {
  background-color: #e0f7fc;
}

/*コピーライト*/
.copyright{
	background-color:#e3acae;
	text-align: center;
	padding: 2rem 0;
	color: floralwhite;
}


/*スマホ対応 */
@media (max-width: 768px) {
  
  .header {
    height: auto;
    padding: 1rem;
  }
  .header h1 {
    font-size: 2.5rem; 
    margin-top: 1rem;
  }
  .nav ul{
	font-size: 1.5rem;
  }

  /* プロフィール */
  .profile {
    padding: 2rem 1rem 3rem 1rem; 
  }
  .profile-content {
    flex-direction: column; 
    align-items: center;
    margin: 0 auto;
  }
  .profile .image {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .profile .image img {
    width: 250px; 
  }
  .profile .profile-text {
    max-width: 100%; 
  }
  
  /* スキル */
  .skills-content {
    flex-direction: column; 
    gap: 1rem; 
    align-items: center;
  }
  .skills-left, .skills-right {
    flex: none; 
    width: 100%;
    margin-bottom: 2rem;
  }
  .skills-left img, .skills-right img {
    width: 100%; 
    height: auto;
    margin-bottom: 1rem;
  }
  .skill-languege {
    grid-template-columns: 1fr; 
    gap: 1rem;
  }

  /* コンタクト */
  .contact-form input[type="text"],
  .contact-form textarea {
    width: 90%; 
    font-size: 1.1rem; 
  }
  .contact-form input[type="submit"] {
    width: 50%;
    padding: 1.1rem;
  }
  .contact-form .form-group {
    flex-direction: column;
    align-items: stretch;
    width: 90%;
    margin: 0 auto;
    padding-left: 4.5rem;
  }
  .contact-form label {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    text-align: left;
  }


  /* コピーライト */
  .copyright {
    font-size: 1rem; 
  }

}
